doctype html
html
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"}
    ])
  body
    .w-1024.rwd.mx-auto.my-5
      a#link(href="#",download="output.tsv") Click to Download TSV
    +script([
      {"url": "/assets/lib/csv4xls/dev/index.min.js"},
      {name: "xlsx", path: "dist/xlsx.full.min.js"}
    ])
    script(type="module"): include:lsc index.ls
