doctype html
html
  head
  body
    a#link(href="#",download="output.csv") Click to Download CSV
    script(src="/assets/lib/csv4xls/dev/index.min.js")
    script(type="module"): :lsc
      content = "隊老請……子賽究千以不等王把，麼和一德一質非，招她片過各，情度亞陽立目紀化館媽答識國過個長時變只與中代間氣方高結局企眼畫提這動裡北，方起知參南真業突眼車識細？市時媽用都是相看業。運到你改朋太還存選造此個回力在……我動計人園原戰去，個開業劇度假童方苦女量地的但養用小字作會不的使快導灣，層醫市時指時至買兒的臉夫接，兒相的多後空日告縣他各放不正來不運？我灣局節場道務要或友出自。正實的整不了毒。利全據養我報並信務約展成裡，不集人，和義合對不深電火心們人越聲就是臉去它適心，治要歡起不！語要多，識天車他書文個大……他度就始下麼首他！那中越清頭腦同任半早良在，服我爸頭常度，居知大系麗片……具信福走功了以養滿信小作場平。知把科失始子操當健戰在，港筆林內狀去青起以出聲是音在也實。言照導經食術流相是生情書真放相力海有臺成義。朋他筆法他甚，飛朋文自：月風展師。議工知傷大……上者準收、怕的也裡要汽眾，一說種，起喜水有同戲要，市因收取了的合次養找問夫由處和候引星果解爭修。"
      data = [0 til Math.round(10 * Math.random! + 10)].map ->
        [0 til Math.round(10 * Math.random! + 10)].map ->
          x = Math.round(Math.random! * content.length / 2)
          len = Math.round(Math.random! * (content.length - x - 10) / 2  + 5);
          return content.substring(x,len)
      link.setAttribute \href, csv4xls.to-href(data)
      console.log csv4xls.to-string(data)
